@import "tailwindcss";

.home {
    h1 {
        @apply text-5xl lg:text-7xl font-extrabold
    }

    h2 {
        @apply text-3xl lg:text-4xl font-extrabold
    }

    h3 {
        @apply text-xl lg:text-2xl font-bold
    }

    @apply text-base lg:text-lg font-normal
}